__pycache__/
pycache/
.ipynb_checkpoints/
.venv/
.env
data/
outputs/
*.py[cod]
.pytest_cache/
.mypy_cache/
.DS_Store
*.pem
*.pyc
catboost_info/
data/train.csv
data/test.csv
data/trackman_history.csv
train_trackman/trackman_history.csv
